* {
    padding: 0;
    margin: 0;   
    transition: 0.2s; 
}

body {
    color: #1c1c1c;
    font-family: 'Proxima Nova';
    overflow-x: hidden;
 
}


.container {
    width: 940px;
    margin: 0 auto;
}

div, p, input, button, form, span, a, ul, li {
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-weight: bold;
}


header {
    padding-bottom: 20px;
    font-size: 14px;
}

.header_top_menu a {
    color: #1c1c1c; 
    text-decoration: none;  

}

.header_top_menu li,
.comments_menu li {
    list-style-type: none;
    
}

a.tel{
    font-weight: bold;    
    padding-top: 20px;
    text-decoration: none; 
    color: #1c1c1c; 
}

.menu {
    width: 590px;
    padding-top: 20px; 
}

.header_top_menu,
.menu ul,
.header_bottom,
.communication,
.about_us_wrap,
.provide_services_wrap,
.advantages_wrap,
.advantages_comparing,
.consultation_wrap {
    display: flex;
    justify-content: space-between;
}


a.button,
.comments_menu a {
    text-decoration: none;    
}

a.button {
    color: #fff;
    font-weight: bold;
    border: none;
 
}

.header_top_menu_call_me {
    background: #c91111;
    padding: 10px 20px;
    margin-top: 10px;
    border-radius: 3px;
    vertical-align: middle;
}


.line {
    border-bottom: 1px solid #f4f4f4;
    margin-top: 10px;
    margin-bottom: 20px;
}

.communication {
    width: 470px;
    margin-left: 100px;
}

.communication p {
    margin-top: 15px;
}

.communication .tel {
    font-size: 18px;
    padding-top: 13px;
}

.icon .icon_android {
    margin-right: 10px;
}

#personal_attorney {
    background: url(../img/bg_personal_attorney.jpg) no-repeat  top center;
    color: #fff;
    padding-top: 125px;
}

h1 {
    font-size: 32px;
    width: 460px;
}

h1 span {
    text-transform: uppercase;
    font-size: 40px;
    font-weight: 900;
}

#personal_attorney {
    padding-bottom: 128px;
}

#personal_attorney p {
    font-size: 24px;
    margin: 65px 0;
}

#personal_attorney p span {
    font-weight: bold;
}

.personal_attorney_button {
    background: #dc2020;
    border-radius: 3px;
    padding: 25px 50px;
}


#service,
#about_us,
#provide_services,
#advantages,
#consultation,
#comments {
    padding: 100px 0;

}

.service_heading,
.about_us_heading,
.provide_services_heading,
.advantages_heading {
    text-align: center;
    margin-bottom: 80px;
    font-size: 30px;
}

.service_wrap {
    width: 900px;
    margin-left: 10%;
}

.service_wrap div {
    display: flex;
    margin-bottom: 90px;
    width: 300px;
    float: left;
}

.service_wrap div:nth-child(3n) {
    width: 200px;
}

.service_wrap p {
    margin-left: 25px;
}

#about_us {
    clear: both;    
    background: url(../img/bg_about_us.jpg) no-repeat top center;    
    color: #fff;
    text-align: center;
}

.about_us_team,
.about_as_subscription_service {
    width: 840px;
}

.about_us_team {
    margin-bottom: 15px;
}

.about_as_subscription_service {
    margin-bottom: 65px;
}

.about_us_wrap_namber {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}

#provide_services,
#comments {
    background: #f5f5f5;     
    text-align: center;   
}

.provide_services_wrap img {
    margin-bottom: 50px;
}

.question_bold {
    font-weight: bold;
    margin-top: 15px;
}



.advantages_features,
.advantages_advogrand,
.advantages_other_company {
    font-size: 13px;
}

#advantages p {
    margin-bottom: 30px;
}

.advantages_features {
    margin-top: 80px;
    text-align: right;
}

.advantages_advogrand h3,
.advantages_other_company h3 {
    font-size: 14px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.advantages_advogrand {
    width: 210px;
    text-align: center;
    background: #26b83a;
    box-shadow: 0 12px 12px 3px #d4f1d8;
    color: #fff;
}

.advantages_advogrand,
.advantages_other_company {
    text-align: center;
}

.advantages_other_company {
    border: 1px solid #e8e8e8;
    width: 210px;
}

.our_clients h3 {
    font-size: 16px;
    margin-bottom: 30px;
}

.our_clients_wrap div {
    margin-bottom: 20px;
}

.our_clients_wrap div:nth-child(4) {
    margin-bottom: 40px;
}

.our_clients_wrap p {
    display: inline;
    vertical-align: super;
    margin-left: 20px;
}

.our_clients_wrap p span{
    font-weight: bold;
}

.our_clients_wrap a {
    background: #cf1d1d;
    padding: 25px 80px;
    font-size: 18px;
    border-radius: 5px;
}

#consultation{
    background: url(../img/bg_consultation.jpg) no-repeat top center;
    color: #fff;
    font-family: 'Muller';
    font-weight: lighter;
}

#consultation p {
    display: inline;
}

.consultation_heading {  
    width: 460px;
    margin-bottom: 75px;

}

.consultation_heading h2 {
    font-size: 30px;
}

.consultation_link {
    float: right;
    position: relative;
    top: -100px;
}

.consultation_link img {
    display: block;
}

.consultation_link_android_google_play {
    margin-bottom: 30px;
}

.consultation_you_need {
    font-size: 18px;
    width: 670px;
}

.consultation_you_need div {
    margin-bottom: 15px;
}

.consultation_you_need pre {
    display: inline;
    font-family: 'Muller';
    font-weight: lighter;
}

.consultation_you_need_items {
    font-weight: 500;
    color: #e41e1e;
    margin-right: 25px;
}

.consultation_you_need span {
    text-decoration: underline;
}

#comments {
    color: #313131;    
}

.comments_heading h2{
    margin-bottom: 75px;
    font-size: 30px
}

.comments_menu ul {
    display: flex;
    justify-content: center;
}

.comments_menu li {
    margin-right: 35px;
}


.comments_menu a {
    padding: 10px;   
    font-size: 14px;
    text-transform: uppercase;
    color: #313131; 
}

.comments_menu a:hover {
    color: #e42626;
}

.comments_menu a:active {
    border: 2px solid #e42626;
    border-radius: 5px;
}






